<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <ul class="form-inputs">
    <li><%= @appointment.start_time %></li>
    <li><%= @appointment.date %></li>
    <li><%= @appointment.length %></li>
    <li><%= @appointment.open %></li>
    <li><%= f.input :patient_birthdate %></li>
    <li><%= f.input :patient_name %></li>
  </ul>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
