<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <ul style="list-style:none" class="form-inputs">
    <b>Start Time</b><li><%= @appointment.start_time %></li>
    <b>Date</b><li><%= @appointment.date %></li>
    <b>Length</b><li><%= @appointment.length %></li>
    <b>Open</b><li><%= @appointment.open %></li>
    <li><%= f.input :patient_birthdate %></li>
    <li><%= f.input :patient_name %></li>
  </ul>

  <div class="form-actions">
    <%= f.button :submit, :style=>"margin-left:40px; margin-bottom: 20px" %>
  </div>
<% end %>
