<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :takes_medicare %>
    <%= f.input :location %>
    <%= f.input :sliding_scale %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
